/* TOOLBAR */
.toolbar {
  --background: #000;
  --color: #fff;
}

/* FILTERS */
.filters {
  display: flex;
  overflow-x: auto;
  padding: 16px;
  gap: 10px;

  ion-chip {
    --background: #eee;
    --color: #333;
    font-weight: 500;
  }

  .active {
    --background: #ff3d7f;
    --color: #fff;
  }
}

/* PRODUCTS */
.products-grid {
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.product-card {
  background: #000000;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(194, 181, 181, 0.08);
}

.product-image {
  height: 180px;
  background-size: cover;
  background-position: center;
}

.product-info {
  padding: 14px;

  h3 {
    font-size: 0.95rem;
    margin-bottom: 6px;
    font-weight: 600;
  }

  .price {
    font-size: 1rem;
    font-weight: 700;
    color: #ff3d7f;
    margin-bottom: 12px;
  }
}

.btn-add {
  --background: #ffffff;
  --border-radius: 20px;
  font-size: 0.8rem;
}
